.discovered {
  width: 100%;
  margin-top: 10%;
  height: 50%;
}
.discover-img {
  height: 100%;
}
.discover-img img {
  border-radius: 50%;
  justify-items: start;
}
.text-img {
  height: 20%;
}

.text-img {
  height: 15%;
  z-index: -10;
}
.text-img img {
  height: 50%;
}
